[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdownify = "*"
requests = "*"
"discord.py" = {extras = ["speed"], version = "*"}
playwright = "*"
playwright-stealth = "*"
python-dotenv = "*"
colour = "*"
# pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
