[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdownify = "*"
requests = "*"
"discord.py" = {extras = ["speed"], version = "*"}
python-dotenv = "*"
colour = "*"
javascript = "*"
cloudscraper = "*"
js2py = "*"
websocket-client = "*"
# pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
